---
import "monza-editor/style.css";
import styles from "./VanillaExample.module.css";
---

<div class={styles.main} id="vanilla-example"></div>
<script>
  import { render } from "monza-editor";
  import { highlight } from "../utility.js";

  const element = document.getElementById("vanilla-example");

  if (!element) {
    throw new Error("No editor element");
  }

  render(element as HTMLDivElement, {
    highlight,
    value: `console.log("Hello, JavaScript!");`,
  });
</script>
