name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm -r build
      - run: node --run lint
      - run: pnpm -r test
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@main
        with:
          files: "**/*.{md,ts}"
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/markdown-link-check@main
  test:
    needs:
      - unit_test
      - spell_check
      - readme
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
